body{
	background-color: #C1E3F2;
}

.nav-bar {
	position: fixed;
	top: 0;
  	left: 0;
  	z-index: 9999;
  	width: 100%;
 	height: 50px;
  	background-color: #000000;
}

.nav-bar > a{
	text-decoration: none;
	color: #FFFFFF;
	font-size: 2em;
}
